<div id="content">
	<div class="wrap" style="height: auto;">
		<div class="side-left">
			<ul class="subnav">
				<li class="active">
				<a href="#About">About</a>
				</li>
				<li>
				<a href="#Who">Who We Are</a>
				</li>
				<li>
				<a href="#What">What We Do</a>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="main-content">		
<a name="About"></a>
<div class="about_text">

<div class="main-content">		

<div class="about_text">
<h2>About</h2>
<img class="history" src="images/about.jpg" alt="Logo Image" width="700px">
<p>
Aktimas biopharmaceuticals is a professionally driven biopharmaceutical company
having wide range of truly world class high quality pharmaceutical products and
pharmaceutical preparations that are at par with international standards.
</p>
<p>
 The journey of Aktimas Biopharmaceuticals started with the vision to fulfill unmet medical needs of people. Our corporate mantra is to provide safe, effective, high quality medications at affordable price.
</p>
<p>
Aktimas Biopharmaceuticals is emerging as a powerful entity in the pharmaceutical business with a mission of total commitment to quality and ethics and growing with values like integrity and innovations. Robustly backed by a strong distribution network and with proficient marketing team Aktimas bio pharmaceuticals is confident of creating new formulations and to make significant differences in the Indian pharmaceutical industry.
</p>
<p>
Manufacturing is done in units compliant with, state-of-the-art manufacturing facilities as per latest WHO GMP guidelines.
</p>
</div>

<a name="Who"></a>

<div class="about_text">
<h2>Who We Are</h2>
<img class="history" src="images/what.jpg" alt="Logo Image">
<p>
We share a vision to be a top global Biopharmaceutical company providing high quality, affordable and innovative medicines for medical fraternity and to make significant differences in the Indian pharmaceutical industry by fulfilling unmet medical needs of people.
</p>
<p>
Our Mission is to create difference in the lives of people by providing the highest-quality biopharmaceutical products.
</p>
</div>

<a name="What"></a>
<div class="about_text">
<h2>What We Do</h2>
<img class="history" src="images/who.jpg" alt="Logo Image">
<p>
Our success depends entirely on the creativity, performance and achievements of our associates at all levels. We value challenge, innovation, collaboration and learning. We wish to build an organization that is continuously learning and changing to suit the dynamic business environment. For organic as well as inorganic growth so that Solace Biotech grows at amazing pace, we are on the look out for a team of dynamic professionals, brimming with ideas, full of energy and passion to join us in realizing our vision.
</p> 
<p>
We are proud of our achievements but our aim is to scale even greater heights and on this exciting journey we want on board people who are just as driven, determined and focused. The quest to excel in our field has made us to explore for any exceptional idea. Our prime focus is to extend our portfolio by entering new markets and explore new business opportunities and as a part of this we look for associates to have long term business relationship with mutual benefits. Thus, please feel free to contact us for any sort of business inquiry.
</p>
<p>
If one were to seek out a single word that embodies the spirit of the company, It is apparent right from the moment you step into the premises, in the numerous facets ingrained and internalized into the company’s ethos.
</p>
<p>
At Aktimas we are deeply committed to excellence and quality. Our team is committed and works hard to deliver the best for the cause of life. The only way we can make our commitment of healthier and happier world come true is by providing better and even better quality of products. 
</p>
<p>
A comprehensive quality assurance system ensures that not a single detail misses attention – be it cGMP compliance, validation, stability studies, documentation, safety, health and environmental issues. There is no compromise at any stage in this mission. At Aktimas, this is ensured by adopting the best in technology, by the dedicated effort and skill of the best available professionals.
</p>
<p>
The Company develops products that deliver value to customers, meet health needs of patients and improve their lives. In pursuit of this concern, Aktimas has substantially invested in becoming a technology-driven pharma company.
</p>
</div>
</div>
</div>
</div>