<div class="main-content">
<h1>Welcome to Carrer Page</h1>
<h1>There are no openings currently , please upload your resume we will get back , when in need.</h1>
<form 
enctype="multipart/form-data" method="post">
<p class="textinput" style="color:#0066CC;
	font-family: 'Roboto', sans-serif;">
Type some text (if you like):<br>
<input  type="text" name="textline" size="30">
</p>
<p style="color:#0066CC;
	font-family: 'Roboto', sans-serif;">
Please specify a file, or a set of files:<br>
<input style="color:#0066CC;
	font-family: 'Roboto', sans-serif;" type="file" name="datafile" size="40">
</p>
<div>
<input class="filesub" type="submit" value="Send">
</div>
</form>