<div class="main-content">	
<div class="home-heading">
<h1>Welcome to Aktimas Biopharmaceuticals</h1>
</div>
</div>

<div class="container">
 	<img src="images/05.jpg" width="600px" />
    <img src="images/04.jpg" width="600px" />
    <img src="images/03.jpg" width="600px" />
    <img src="images/02.jpg" width="600px" />
    <img src="images/01.jpg" width="600px" />
</div>

<div class="home-content">
<h2>About Aktimas</h2>

<p>
Aktimas Biopharmaceuticals is emerging as a powerful entity in the pharmaceutical business with a mission of total commitment to quality and ethics and growing with values like integrity and innovations. Robustly backed by a strong distribution network and with proficient marketing team Aktimas bio pharmaceuticals is confident of creating new formulations and to make significant differences in the Indian pharmaceutical industry.
</p>

<h2>Why Aktimas</h2>
<p>
We value challenge, innovation, collaboration and learning. We wish to build an organization that is continuously learning and changing to suit the dynamic business environment Aktimas is poised to achieve unparalleled status in the global pharmaceutical industry.
</p> 
<p>
Our “Golden Rule” is to provide <i>The right drug, for the right patient, at the right time, in the right manner.</i>
</p>
</div>
</div>