<body>
<div class="main-content">
<div class="contentNavigation">
            <a class="contentSpan" href="home.erb">Home</a>
            <span class="contentSpan">></h4></span>
            <a class="contentSpan" href="products.erb">Products</a></div>
 <div class="clearfix"></div>
<h1><div class="contentHead">Products</div></h1>
<h4><div class="productDescription">There are whole range of products which are classified here on medicene type: Injections, Powders, Syrups, Tablets and Capsules.</div></h4>
<img id="mainIcon" src="images/tabletIcon.jpg">
 <nav>
 <div><class="link1"><a href="injectionslist" alt=""><img id="subIcon" src="images/injections.bmp"></a></div>
 <div><class="link2"><a href="powderslist" alt=""><img id="subIcon" src="images/powders.bmp"></a></div>
  <div><class="link3"><a href="syrupslist" alt=""><img id="subIcon" src="images/syrups.bmp"></a></div>
  <div><class="link4"><a href="tabletslist" alt=""><img id="subIcon" src="images/tablets.bmp"></a></div></nav>
        <div class="clearfix"></div>
        </div>