<div id="content">
	<div class="wrap" style="height: auto;">
		<div class="side-left">
			<ul class="subnav">
				<li class="active">
				<a href="./about/">About</a>
				</li>
				<li>
				<a href="./who/">Who We Are</a>
				</li>
				<li>
				<a href="./what/">What We Do</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="main-content">		

<div class="about_text">
<h2>About</h2>
<img class="history" src="images/about.jpg" alt="Logo Image" width="700px">
<p>
Aktimas biopharmaceuticals is a professionally driven biopharmaceutical company
having wide range of truly world class high quality pharmaceutical products and
pharmaceutical preparations that are at par with international standards.
</p>
<p>
 The journey of Aktimas Biopharmaceuticals started with the vision to fulfill unmet medical needs of people. Our corporate mantra is to provide safe, effective, high quality medications at affordable price.
</p>
<p>
Aktimas Biopharmaceuticals is emerging as a powerful entity in the pharmaceutical business with a mission of total commitment to quality and ethics and growing with values like integrity and innovations. Robustly backed by a strong distribution network and with proficient marketing team Aktimas bio pharmaceuticals is confident of creating new formulations and to make significant differences in the Indian pharmaceutical industry.
</p>
<p>
Manufacturing is done in units compliant with, state-of-the-art manufacturing facilities as per latest WHO GMP guidelines.
</p>
</div>


<div class="about_text">
<h2>Who We Are</h2>
<img class="history" src="images/what.jpg" alt="Logo Image">
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum recusandae debitis quod hic, vel eveniet fugiat perferendis porro nostrum beatae corrupti, quibusdam odio alias cum ea blanditiis ipsum suscipit!
</p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nobis dolore cum ipsa voluptatum numquam accusamus tempore, soluta ad totam libero! Cum aliquid, asperiores. Deserunt voluptatum voluptate dolore! Harum, excepturi.
</p>
</p>
</div>


<div class="about_text">
<h2>What We Do</h2>
<img class="history" src="images/who.jpg" alt="Logo Image">s
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam harum recusandae debitis quod hic, vel eveniet fugiat perferendis porro nostrum beatae corrupti, quibusdam odio alias cum ea blanditiis ipsum suscipit!
</p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nobis dolore cum ipsa voluptatum numquam accusamus tempore, soluta ad totam libero! Cum aliquid, asperiores. Deserunt voluptatum voluptate dolore! Harum, excepturi.
</p>
</p>
</div>
</div>