<!DOCTYPE html>
<html>
<head>
	<title>Actimas Bio Pharma | Products</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="C:/NYCDA/aktimas/aktimas/aktimas/public/css/style_product.css">
</head>
<body>
<div class="injectionsMain">
	<table border="1" style="width:100%">
	<tr>
    <th>SN</th>
    <th>Brand Name</th> 
    <th>Composition</th>
    <th>Pack</th>
   </tr>
		<tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
</div>
 <div class="clearfix"></div>
</body>
</html>