<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	<link rel="stylesheet" type "text/css" href="css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<title>Aktimas</title>
=======
	<title>Awesome Contact Form</title>
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
</head>
>>>>>>> f7a1779ee52c077adfd650a2bceffa8ef72644b6
</head>
<body>
	<nav class="top-navigation">
		<div class="content">
			<ul class="links">
			<% links = {"Home"=>"/", "About Us"=>"/about", "Products"=>"/products", "Careers"=>"careers", "Contact Us"=>"contact_us"}%>
				<% for key, value in links do %>
					<li class="active"> <a href="<%=value%>"> <%= key %></a></li>
				<% end %>
			</ul>
		<img class="logo" src="images/logo.jpg" alt="Logo Image" height="100px">
		</div>
	</nav>

	<%=yield%>

</body>


</html>