<!DOCTYPE html>
<html>
<head>
	<title>Actimas Bio Pharma | Products</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="C:/NYCDA/aktimas/aktimas/aktimas/public/css/style_product.css">
</head>
<body>
<div class="contentNavigation">
            <a class="contentSpan" href="home.erb">Home</a>
            <span class="contentSpan">></h4></span>
            <a class="contentSpan" href="products.erb">Products</a></div>
 <div class="clearfix"></div>
<h1><div class="contentHead">Products</div></h1>
<h4><div class="productDescription">There are whole range of products which are classified here on medicene type :Injections,Powders,syrups,Tablets and capsules.</div></h4>
 <span><img id="mainIcon" src="C:/NYCDA/aktimas/aktimas/aktimas/public/images/tabletIcon.jpg"></span>
 <nav>
 <div><class="link1"><a href="injections.erb" alt=""><img id="mainIcon" src="C:/NYCDA/aktimas/aktimas/aktimas/public/images/injections.bmp"></a></div>
 <div><class="link2"><a href="powders.erb" alt=""><img id="mainIcon" src="C:/NYCDA/aktimas/aktimas/aktimas/public/images/powders.bmp"></a></div>
  <div><class="link3"><a href="syrups.erb" alt=""><img id="mainIcon" src="C:/NYCDA/aktimas/aktimas/aktimas/public/images/syrups.bmp"></a></div>
  <div><class="link4"><a href="tablets.erb" alt=""><img id="mainIcon" src="C:/NYCDA/aktimas/aktimas/aktimas/public/images/tablets.bmp"></a></div></nav>
        <div class="clearfix"></div>
        
</body>

</html>