body{
	font-family: 'Roboto', sans-serif;
	width:1024px;
	margin-top: 0px;
	color:black;
}

.main-content {
	margin-top: 120px;
}

.top-navigation{
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom:1px solid #DDD;
    z-index: 9999;
    display:block;
    top: 0;
    left: 0;
}
.top-navigation>.content{
    width: 970px;
    height:100px;
    margin: 0 auto;
    text-decoration: none;
}
.top-navigation .content h1{
	display: inline-block;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 18px;
    margin-top: 40px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
a:-webkit-any-link {
text-decoration: none;
cursor: auto;
}

a{
color:black
}

/*Home Page*/
.home-heading{
	position: relative;
	font-family: 'Roboto', sans-serif;
	display: block;
	margin-left: 200px;
	overflow: hidden;
	z-index: 900;
	background: white;
}

.home-content{
	margin-top: 550px;
	margin-left: 50px;
	margin-right: 80px;
}

.home-image{
	margin-left: 100px;
}

#scroller {
    position: relative;
}
#scroller .innerScrollArea {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    }
#scroller ul {
    padding: 0;
    margin-top: 10px;
    position: relative;
}
#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}

/*About Aktimas Page*/
.about_text{
	position: relative;
	font-family: 'Roboto', sans-serif;
	display: block;
	margin-left: 196px;
	overflow: hidden;
	z-index: 900;
	background: white;
	padding-bottom: 20px;
}

.history{
	position: relative;
	margin-left: 20px;
	overflow: hidden;
	z-index: 900;
	background: white;
	font-size: 23px;
	color: #009f7b;
	line-height: 1.0em;
	letter-spacing: 0.1em;
}

#content {
	position: fixed;
	top: 50px;
	width: 196px;
	z-index: 10;
}

#content .wrap {
max-width: 1300px;
padding: 66px 0 200px;
}

.wrap {
position: relative;
margin: 0 auto;
}

#content .side-left ul.subnav {
margin-left: 30px;
font-size: 100px;
}

#content .side-left ul.subnav li {
margin-bottom: 20px;
line-height: 1.4em;
}

li {
list-style: none;
display: list-item;
text-align: -webkit-match-parent;
}

#content .side-left ul.subnav {
margin-left: 30px;
font-size: 15px;
font-size: bold;
}

/*Products Page*/

#mainIcon{
    float:left;
   padding:0px;
   margin:0px;
   display:inline;
   width:75%;
   height:75%;

}
.contentHead
{
	color:#0033CC;
	font-family: 'Roboto', sans-serif;
	font-size: 

}
.contentSpan{
	color:#0033CC;
	font-family: 'Roboto', sans-serif;
	display:inline; 
	font-style:none;

}
.productDescription
{
	color:black;
	font-family: 'Roboto', sans-serif;
}
nav{
	float:right;
top: 0px;
}
