
body{
	font-family: 'Roboto', sans-serif;
	width:1024px;
	margin-top: 0px
}
#mainIcon{
    float:left;
   padding:0px;
   margin:0px;
   display:inline;
   width:75%;
   height:75%;

}
.contentHead
{
	color:#0033CC;
	font-family: 'Roboto', sans-serif;
	font-size: 

}
.contentSpan{
	color:#0033CC;
	font-family: 'Roboto', sans-serif;
	display:inline; 
	font-style:none;

}
.productDescription
{
	color:#0066CC;
	font-family: 'Roboto', sans-serif;
}
nav{float:right;
top: 0px;
}